@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    font-family: 'comfortaa', sans-serif;
    font-weight: 700;
    font-size: 8vmin;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    box-shadow: 0vmin 0vmin 2vmin #000;
    letter-spacing: 0.4vmin;
    padding: 4vmin 0 4vmin 0;
}

.balance{
    margin-bottom: 3vmin;
    font-size: 5vmin;
    position: relative;
    padding: 2vmin 0 2vmin 0;
}

.balance::before{
    content: '';
    position: absolute;
    top: -1vmin;
    left: 0;
    width: 100%;
    height: 0.2vmin;
    background-color: #ff5100;
    box-shadow: 0 0 1vmin #ff5100;
}

.balance::after{
    content: '';
    position: absolute;
    bottom: -1vmin;
    left: 0;
    width: 100%;
    height: 0.2vmin;
    background-color: #ff5100;
    box-shadow: 0 0 1vmin #ff5100;
}

.text{
    margin-bottom: 1vmin;
    font-size: 3.5vmin;
}


.money{
    font-family: 'ADLaM Display', cursive;
    font-weight: 800;
}

.money span{
    font-size: 6.5vmin;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vmin;
    cursor: pointer;
    user-select: none;
}

.btn{
    /* background-color: #f3692a; */
    width: 90%;
    border-radius: 0.5vmin;
    letter-spacing: normal;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1vmin;
    transition: all 0.2s ease;
    margin: 0 auto;
}
.btn:hover{
    background-color: #f3692a30;
}

.btn:active{
    background-color: #f3692a60;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title{
    font-size: 5vmin;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-30%);
    margin-left: 2vmin;
}

.logo{
    width: 10vmin;
    height: 10vmin;
    margin-bottom: 5vmin;
}

.stat{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    font-size: 7vmin;
    text-align: left;
}

.stat-item + .stat-item{
    margin-top: 4vmin;
}

.change{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1vmin);
    background-color: #00000050;
    user-select: none;
}

.change-popup{
    width: 50vmin;
    padding: 5vmin 0 5vmin 0;
    border-radius: 2.5vmin;
    background-color: #322d2d;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vmin; 
      
}

.exit{
    width: 100%;
    height: 100%;
}

.change-input{
    width: 40vmin;
    border-radius: 1vmin;
    height: 10vmin;
    background-color: #ffffff30;
    margin: 0 auto;
    margin-top: 5vmin;
    font-size: 3vmin;
    color: #fff;
    padding-left: 2vmin;
    margin-bottom: 5vmin;
}

.change-input::placeholder{
    color: #0000004e;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */   

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.save{
    width: 40vmin;
    height: 10vmin;
    background-color: #f3692a;
    border-radius: 1vmin;
}

.change-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.change-logo{
    margin: 0;
    width: 10vmin;
    height: 10vmin;
}

.change-title{
    font-size: 4vmin;
    margin-left: 2vmin;
}

.change-text{
    margin-top: 4vmin;
    font-size: 2.5vmin;
}

.exit-change{
    width: 40vmin;
    height: 10vmin;
    border-radius: 1vmin;
    margin-top: 4vmin;
    border: 1px solid #f3692a;
    color: #f3692a;
}

.change-btn{
    transition: all 0.2s ease;
}

.change-btn:active{
    transform: scale(0.95);
}

.none{
    display: none;
}