@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    font-family: 'comfortaa', sans-serif;
    font-weight: 700;
}

.wrapper{
    width: 50vmin;
    height: 100vh;
    background-color: #121212;
    box-shadow: 0vmin 0vmin 2vmin #000;
    padding: 4vmin;
    letter-spacing: 0.4vmin;
}

.balance{
    margin-bottom: 3vmin;
    font-size: 3vmin;
}

.text{
    margin-bottom: 1vmin;
}

.money{
    font-family: 'barlow', sans-serif;
    font-weight: 800;
}

.money span{
    font-size: 4.5vmin;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vmin;
    cursor: pointer;
    user-select: none;
}

.btn{
    /* background-color: #f3692a; */
    border-radius: 0.5vmin;
    letter-spacing: normal;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1vmin;
    transition: all 0.2s ease;
}

.active{
    color: #f3692a;
}

.btn:hover{
    background-color: #f3692a30;
}